name: Run tests
on: [push]
jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Update toolchain
        run: rustup update stable && rustup default stable

      - name: Run cargo test
        run: cargo test --verbose
